apdev-flights-ws1/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sub-flow name="setCode" doc:id="874a7522-a9a8-42d2-9066-e4593ca0d24a" >
		<set-variable value="#[message.attributes.queryParams.code default 'SFO']" doc:name="code" doc:id="fcc730db-ec00-4c38-967d-cd51c9ffc50d" variableName="code"/>
	</sub-flow>
	<flow name="getAmericanFlights" doc:id="5d428b06-ad13-4cf5-a521-aca984d5fb5d" >
		<http:listener doc:name="GET /american" doc:id="bd0c6dcc-e1e3-4b73-8454-897ca292d2a4" config-ref="HTTP_Listener_config" path="/american" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="1b957212-1ac0-4ac3-b417-8f5ae3c6ad55" name="setCode"/>
		<american-flights-api:get-flights doc:name="Get flights" doc:id="97e95b84-6588-408f-97f1-123bae5e6d92" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON to [Flight]" doc:id="a82b2a37-3ee4-4acf-b6fa-7ae55f2b3321" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e5073dee-4adf-43b9-8620-4643f871ff96" />
	</flow>
	<flow name="getUnitedFlights" doc:id="4698dba3-0dc9-488a-a059-4848400d84e4" >
		<http:listener doc:name="GET /united" doc:id="5abae1f3-2eb9-4092-815d-19e9f07d6eb4" config-ref="HTTP_Listener_config" path="/united" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="7c188175-5700-4b5f-8ed4-6aae758af231" name="setCode"/>
		<http:request method="GET" doc:name="Get flights" doc:id="f73a7b70-4da7-41ee-a51b-dd5e4859de41" config-ref="HTTP_Request_config_training" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="JSON to [Flight]" doc:id="3a4f9c7e-4d7a-4d27-9a24-c7729d2b360a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="39ed602c-9b8b-4b13-a3e4-65a3a5d8d632" />
	</flow>
	<flow name="getDeltaFlights" doc:id="7a6d1142-abbc-42a0-9c72-06edf0b80238" >
		<http:listener doc:name="GET /delta" doc:id="6c829329-df97-4b5f-bf30-40358748e7bd" config-ref="HTTP_Listener_config" path="/delta" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="9a17ac97-d706-406f-a812-54a999a14435" name="setCode"/>
		<ee:transform doc:name="Pass code" doc:id="42ee6e33-eaa4-494d-bbba-d0ee50151680" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="findFlight" doc:name="Get flights" doc:id="349b0789-82e7-49ae-a91c-143b7c08a25f" config-ref="Delta_Web_Service_Consumer_Config"/>
		<ee:transform doc:name="SOAP to [Flight]" doc:id="2eb3d7a3-75a7-4e1f-a23f-df013ace61c1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f45b61d4-d3a5-4e01-9885-bbc8b95dca1d" />
	</flow>
</mule>
